
@{
    ViewBag.Title = "Materiale";
}

<h2>Materiale</h2>

<table>
<tr>
<td style="vertical-align: top; line-height: normal;">
<h3>Anul I</h3><br />
<ul>
<li>@Html.ActionLink("Analiza matematica","Analiza_matematica","Materiale")</li><br />
<li>@Html.ActionLink("Algebra","Algebra","Materiale")</li><br />
<li>@Html.ActionLink("Programarea calculatoarelor", "Programarea_calculatoarelor", "Materiale")</li><br />
<li>@Html.ActionLink("Proiectare asistata de calculator", "Proiectare_asistata", "Materiale")</li><br />
<li>@Html.ActionLink("Fizica", "Fizica", "Materiale")</li><br />
<li>@Html.ActionLink("Programare orientata pe obiecte", "Programare_orientata", "Materiale")</li><br />
</ul>
</td>
<td style="vertical-align: top; line-height: normal;">
<h3>Anul II</h3><br />
<ul>
<li>@Html.ActionLink("Grafica pe calculator", "Grafica_calculator", "Materiale")</li><br />
<li>@Html.ActionLink("Fundamente ale retelelor de calculatoare", "Fundamenta_retele", "Materiale")</li><br />
<li>@Html.ActionLink("Baze de date", "Baze_date", "Materiale")</li><br />
<li>@Html.ActionLink("Managementul proiectelor", "Managementul_proiectelor", "Materiale")</li><br />
<li>@Html.ActionLink("Fundamente ale rutarii in retea", "Fundamente_rutare", "Materiale")</li><br />
<li>@Html.ActionLink("Educatie antreprenoriala", "Educatie_antreprenoriala", "Materiale")</li><br />
</ul>
</td>

<td style="vertical-align: top; line-height: normal;"><h3>Anul III</h3><br />
<ul>
<li>@Html.ActionLink("Proiectarea bazelor de date", "Proiectare_bd", "Materiale")</li><br />
<li>@Html.ActionLink("Sisteme de operare", "Sisteme_operare", "Materiale")</li><br />
<li>@Html.ActionLink("Arhitectura sistemelor de calcul", "Arhitectura_sistemelor_calcul", "Materiale")</li><br />
<li>@Html.ActionLink("Inteligenta artificiala", "Inteligenta_artificiala", "Materiale")</li><br />
<li>@Html.ActionLink("Arhitectura sistemelor paralele", "Arhitectura_sistemelor_paralele", "Materiale")</li><br />
<li>@Html.ActionLink("Metode de dezvoltare software", "Metode_dezvoltare_software", "Materiale")</li><br />
</ul>
</td>
<td style="vertical-align: top; line-height: normal;">
<h3>Anul IV</h3><br />
<ul>
<li>@Html.ActionLink("Sisteme distribuite", "Sisteme_distribuite", "Materiale")</li><br />
<li>@Html.ActionLink("Ingineria programarii", "Ingineria_programarii", "Materiale")</li><br />
<li>@Html.ActionLink("Dezvoltarea aplicatiilor WEB", "Dezvoltarea_WEB", "Materiale")</li><br />
<li>@Html.ActionLink("Compilatoare si translatoare", "Compilatoare_translatoare", "Materiale")</li><br />
<li>@Html.ActionLink("Testarea sistemelor software", "Testarea_sistemelor_software", "Materiale")</li><br />
<li>@Html.ActionLink("Comert electronic", "Comert_electronic", "Materiale")</li><br />
</ul></td>
</tr></table>